body{background-color: #f5f5f5;}
.font_sm{font-size: 0.8rem;}
.iframe_header,.iframe_footer{width: 100%;border: 0;}
@media (min-width:576px) {
	.iframe_header{height:15rem ;}
	.iframe_footer{height:40rem ;}
}
@media (min-width:992px) {
	.iframe_header{height:8.5rem ;}
	.iframe_footer{height:30rem ;}
}
.bg_gray{
	background: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
}
.my_shadow{box-shadow: 0px 0px 10px #ccc;}